[defaults]
inventory = ./hosts
remote_user = yo_sup
ask_pass = false
private_key_file = /home/yo_sup/.ssh/personal

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = true 
