#cloud-config

growpart:
  mode: auto
  devices: ["/dev/vda2"]
  ignore_growroot_disabled: true

runcmd:
  - pvresize /dev/vda2
{% if ( vm_var_part is defined and vm_var_part != 0 ) %}
  - lvextend -L {{ vm_var_part }} rl/var
  - xfs_growfs /dev/mapper/rl-var
{% endif %}
  - lvextend -l +100%FREE rl/root
  - xfs_growfs /dev/mapper/rl-root

users: []
