:modules:
  - hammer_cli_foreman

:foreman:
  :host: 'https://{{ frmn_host }}/'
  :username: '{{ vault_foreman_admin_usr  }}'
  :password: '{{ vault_foreman_admin_pwd  }}'

:log_dir: '{{ frmn_hmr_log_dir }}'
:log_level: '{{ frmn_hmr_log_lvl }}'
